FLASK_ENV=development
SECRET_KEY=change_me

DATABASE_URL=mysql+pymysql://guardia:guardia@db/guardia_db
MYSQL_DATABASE=guardia_db
MYSQL_USER=guardia
MYSQL_PASSWORD=guardia
MYSQL_ROOT_PASSWORD=rootpassword

FRONTEND_PORT=80
